*0
        -Abatedouro/Frigorífico   
        
    *1:
        -Banco
        -HORÁRIO COMERCIAL
        -Cemitério
        -Cond. Comércio/Escritório/Comércio
        -Construtora
        -Correios
        -Oficina
        -Reciclagem
        -Laboratório Médico

    *2:
        -Curso/Escola
        -Faculdade

    *3:
        -Museu
        -Fábrica/Indústria
        -Indústria Têxtil

    *4:
        -Academia

    *5:
        -Cond. Residencial
        -Igreja
        -Posto de Gasolina

    *6:
        -TREM/METRO

    *7:
        -Casa de Shows e Eventos
        -Escola de Samba

    *8:
        -Motel

    *9:
        -Casa de Festas

    *10:
        -Estúdio TV/Cinema

In [112]:
per0 =  ['Abatedouro/Frigorífico' ,
        'Banco',
        'HORÁRIO COMERCIAL',
        'Cemitério',
        'Cond. Comércio/Escritório/Comércio',
        'Construtora',
        'Correios',
        'Oficina',
        'Reciclagem',
        'Laboratório Médico',
        'Curso/Escola',
        'Faculdade',
        'Museu',
        'Fábrica/Indústria',
        'Indústria Têxtil',
        'Academia',
        'Cond. Residencial',
        'Igreja',
        'Posto de Gasolina',
        'TREM/METRO',
        'Casa de Shows e Eventos',
        'Escola de Samba',
        'Motel',
        'Casa de festas',
        'Estudio TV/Cinema']

In [124]:
per3 =  {'Abatedouro/Frigorífico':0 ,     
         'Adm.Rodovia/Estrada':0,
         'Armazem/Galpão':0,
         'Bar/Padaria/Restaurante':0,
        'Construtora/Obra':1,
        'Banco':1,
        'HORÁRIO COMERCIAL':1,
        'Cemitério':1,
        'Cond. Comércio/Escritório/Comércio':1,
        'Construtora':1,
        'Correios':1,
        'Oficina':1,
        'Reciclagem':1,
        'Laboratório Médico':1,
        'Curso/Escola':2,
        'Faculdade':2,
        'Museu':3,
        'Fábrica/Indústria':3,
        'Indústria Têxtil':3,
        'Academia':4,
        'Cond. Residencial':5,
        'Igreja':5,
        'Posto de Gasolina':5,
        'TREM/METRO':6,
        'Casa de Shows e eventos':7,
        'Escola de Samba':7,
        'Motel':8,
        'Casa de festas':9,
        'Estudio TV/Cinema':10}

In [113]:
per2 =  {'Abatedouro/Frigorífico':0 ,        
        'Banco':1,
        'HORÁRIO COMERCIAL':1,
        'Cemitério':1,
        'Cond. Comércio/Escritório/Comércio':1,
        'Construtora':1,
        'Correios':1,
        'Oficina':1,
        'Reciclagem':1,
        'Laboratório Médico':1,
        'Curso/Escola':2,
        'Faculdade':2,
        'Museu':3,
        'Fábrica/Indústria':3,
        'Indústria Têxtil':3,
        'Academia':4,
        'Cond. Residencial':5,
        'Igreja':5,
        'Posto de Gasolina':5,
        'TREM/METRO':6,
        'Casa de Shows e Eventos':7,
        'Escola de Samba':7,
        'Motel':8,
        'Casa de festas':9,
        'Estudio TV/Cinema':10}

In [125]:
horarios[~horarios['nome'].isin(per2.keys())]

,nome,cat,dias_uteis_i,dias_uteis_f,sabado_i,sabado_f,domingo_i,domingo_f,feriado_i,feriado_f
2,Adm. Rodovia/Estrada,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
3,Armazem/Galpão,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
5,Bar/Padaria/Restaurante,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
7,Casa de shows e eventos,7,22:00,06:00,22:00,06:00,22:00,06:00,22:00,06:00
10,Cond. Resd./Residência,4,06:00,22:00,06:00,22:00,06:00,22:00,06:00,22:00
11,Construtora/Obra,1,07:00,18:00,07:00,13:00,NaN,NaN,NaN,NaN
16,Fabrica,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
19,Forças Armadas,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
20,Garagem/Transportadora,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
21,Gráfica,4,06:00,20:00,06:00,20:00,06:00,20:00,06:00,20:00
22,Granja/Aviário,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
24,Hospital,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
25,Hotel,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
27,Industria Petroquímica,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
28,Industria Textil,4,06:00,20:00,06:00,20:00,06:00,20:00,06:00,20:00:00
29,Laboratório médico,2,06:00,20:00,06:00,20:00,NaN,NaN,NaN,NaN
33,Padrão,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
34,Posto de gasolina,4,06:00,22:00,06:00,22:00,06:00,22:00,06:00,22:00
36,Telefonia/Antena/Bomba dagua,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59

In [116]:
horarios

,nome,cat,dias_uteis_i,dias_uteis_f,sabado_i,sabado_f,domingo_i,domingo_f,feriado_i,feriado_f
0,Abatedouro/Frigorífico,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
1,Academia,4,06:00,23:00,06:00,18:00,10:00,15:00,NaN,NaN
2,Adm. Rodovia/Estrada,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
3,Armazem/Galpão,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
4,Banco,1,08:00,18:00,NaN,NaN,NaN,NaN,NaN,NaN
5,Bar/Padaria/Restaurante,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
6,Casa de festas,9,19:00,02:00,12:00,02:00,12:00,00:00,12:00,02:00
7,Casa de shows e eventos,7,22:00,06:00,22:00,06:00,22:00,06:00,22:00,06:00
8,Cemitério,1,07:00,18:00,07:00,18:00,NaN,NaN,NaN,NaN
9,Cond. Comércio/Escritório/Comércio,1,08:00,19:00,08:00,14:00,NaN,NaN,NaN,NaN
10,Cond. Resd./Residência,4,06:00,22:00,06:00,22:00,06:00,22:00,06:00,22:00
11,Construtora/Obra,1,07:00,18:00,07:00,13:00,NaN,NaN,NaN,NaN
12,Correios,1,08:00,17:00,08:00,13:00,NaN,NaN,NaN,NaN
13,Curso/Escola,1,07:00,22:00,07:00,17:00,NaN,NaN,NaN,NaN
14,Escola de Samba,7,18:00,06:00,18:00,06:00,18:00,06:00,18:00,06:00
15,Estudio TV/Cinema,9,12:00,02:00,12:00,03:00,12:00,02:00,12:00,03:00
16,Fabrica,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
17,Fábrica/Indústria,4,06:00,20:00,06:00,20:00,06:00,20:00,06:00,20:00
18,Faculdade,2,07:00,23:00,07:00,23:00,NaN,NaN,NaN,NaN
19,Forças Armadas,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
20,Garagem/Transportadora,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
21,Gráfica,4,06:00,20:00,06:00,20:00,06:00,20:00,06:00,20:00
22,Granja/Aviário,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
23,HORÁRIO COMERCIAL,1,07:00,20:00,NaN,NaN,NaN,NaN,NaN,NaN
24,Hospital,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
25,Hotel,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
26,Igreja,4,06:00,22:00,06:00,22:00,06:00,22:00,06:00,22:00
27,Industria Petroquímica,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
28,Industria Textil,4,06:00,20:00,06:00,20:00,06:00,20:00,06:00,20:00:00
29,Laboratório médico,2,06:00,20:00,06:00,20:00,NaN,NaN,NaN,NaN
30,Motel,7,18:00,06:00,18:00,06:00,18:00,06:00,18:00,06:00
31,Museu,3,08:00,18:00,08:00,18:00,08:00,18:00,08:00,18:00
32,Oficina,1,07:00,18:00,07:00,14:00,NaN,NaN,NaN,NaN
33,Padrão,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
34,Posto de gasolina,4,06:00,22:00,06:00,22:00,06:00,22:00,06:00,22:00
35,Reciclagem,1,08:00,17:00,08:00,15:00,NaN,NaN,NaN,NaN
36,Telefonia/Antena/Bomba dagua,0,00:00,23:59,00:00,23:59,00:00,23:59,00:00,23:59
37,TREM/METRO,4,05:00,23:59,05:00,23:59,07:00,23:00,07:00,23:00

In [106]:
s = pd.Series(per0)
s[s.isin(list(horarios['nome']))]

0                 Abatedouro/Frigorífico
1                                  Banco
2                      HORÁRIO COMERCIAL
3                              Cemitério
4     Cond. Comércio/Escritório/Comércio
6                               Correios
7                                Oficina
8                             Reciclagem
10                          Curso/Escola
11                             Faculdade
12                                 Museu
13                     Fábrica/Indústria
15                              Academia
17                                Igreja
19                            TREM/METRO
21                       Escola de Samba
22                                 Motel
dtype: object

In [104]:
for i in list(s[~s.isin(list(horarios['nome']))]):
    print(per2[i])

1
1
3
5
5
7
9
10

### l______________________________________________________________________________________________________

In [25]:
import pandas as pd

In [58]:
#Criar dicionario de categorias
HORARIOS_PATH = '/home/ubuntu/data/data/maio_2019/horarios_v3.csv'
horarios = pd.read_csv(HORARIOS_PATH, sep=',')
dfcat = horarios.iloc[:,:2]
dfcat.set_index('nome',inplace=True)
scat = dfcat['cat']
dcat = scat.to_dict()

In [27]:
ATIV = '/home/ubuntu/data/data/maio_2019/atividade_atividade_v2.csv'
dfativ = pd.read_csv(ATIV, sep=';', names = ['ramo', 'perfil'])
dfativ.set_index('ramo', inplace=True)
a2p = dfativ.loc[:,'perfil'].T.to_dict()
p2a = dict((v,k) for k,v in a2p.items())

### l______________________________________________________________________________________________________

In [81]:
per1 = list(horarios['nome'])

In [86]:
per0

['Abatedouro/Frigorífico',
 'Banco',
 'HORÁRIO COMERCIAL',
 'Cemitério',
 'Cond. Comércio/Escritório/Comércio',
 'Construtora',
 'Correios',
 'Oficina',
 'Reciclagem',
 'Laboratório Médico',
 'Curso/Escola',
 'Faculdade',
 'Museu',
 'Fábrica/Indústria',
 'Indústria Têxtil',
 'Academia',
 'Cond. Residencial',
 'Igreja',
 'Posto de Gasolina',
 'TREM/METRO',
 'Casa de Shows e Eventos',
 'Escola de Samba',
 'Motel',
 'Casa de Festas',
 'Estúdio TV/Cinema']

In [87]:
per1

['Abatedouro/Frigorífico',
 'Academia',
 'Adm. Rodovia/Estrada',
 'Armazem/Galpão',
 'Banco',
 'Bar/Padaria/Restaurante',
 'Casa de festas',
 'Casa de shows e eventos',
 'Cemitério',
 'Cond. Comércio/Escritório/Comércio',
 'Cond. Resd./Residência',
 'Construtora/Obra',
 'Correios',
 'Curso/Escola',
 'Escola de Samba',
 'Estudio TV/Cinema',
 'Fabrica',
 'Fábrica/Indústria',
 'Faculdade',
 'Forças Armadas',
 'Garagem/Transportadora',
 'Gráfica',
 'Granja/Aviário',
 'HORÁRIO COMERCIAL',
 'Hospital',
 'Hotel',
 'Igreja',
 'Industria Petroquímica',
 'Industria Textil',
 'Laboratório médico',
 'Motel',
 'Museu',
 'Oficina',
 'Padrão',
 'Posto de gasolina',
 'Reciclagem',
 'Telefonia/Antena/Bomba dagua',
 'TREM/METRO']

### l______________________________________________________________________________________________________

In [60]:
ls /home/ubuntu/data/data/maio_2019/

Analise BI.xlsx                dataset_rotulado/           llcad.csv
Atividades_Horarios_Light.csv  fas-sep/                    mm-sep/
README.md                      fas_setembro/               perfis.csv
ancruz.csv                     groundtruth.csv             perfis_v2.csv
atividade_atividade.csv        horarios.csv                perfis_v3.csv
atividade_atividade_v2.csv     horarios_v3.csv             setembro/
concat/                        informacoes.csv
data.zip*                      lista-cad-pnt-20190528.csv

In [63]:
HORARIOS_PATH2 = '/home/ubuntu/data/data/maio_2019/horarios.csv'
horarios2 = pd.read_csv(HORARIOS_PATH2, sep=';')

### l______________________________________________________________________________________________________

In [43]:
#PERFIS_PATH = '/home/ubuntu/data/data/maio_2019/perfis.csv'
PERFIS_PATH = '/home/ubuntu/data/data/maio_2019/perfis_v2.csv'
perfis = pd.read_csv(PERFIS_PATH, sep=';')
sper = perfis.loc[:,'Ramo de Atividade']

rd = perfis[['ramo_de_atividade','ramo_de_atividade_num']].set_index('ramo_de_atividade').to_dict()['ramo_de_atividade_num']

In [44]:
perfis[~perfis.loc[:,'Ramo de Atividade'].isin(a2p.keys())]

Empty DataFrame
Columns: [ID_INST_BI, CLIENTE/INSTALAÇÃO, CPF_CNPJ, Razao Social, Endereco Cadastro, Ramo de Atividade]
Index: []

In [45]:
perfis.loc[272,'Ramo de Atividade'] = 'Posto de gasolina'
perfis.loc[311,'Ramo de Atividade'] = 'Desconhecido'

In [46]:
perfis[~perfis.loc[:,'Ramo de Atividade'].isin(a2p.keys())]

Empty DataFrame
Columns: [ID_INST_BI, CLIENTE/INSTALAÇÃO, CPF_CNPJ, Razao Social, Endereco Cadastro, Ramo de Atividade]
Index: []

In [34]:
perfis.insert(column='cluster', loc= perfis.shape[1], value=perfis.loc[:,'Ramo de Atividade'].map(a2p))

In [35]:
perfis.insert(column='cat', loc= perfis.shape[1], value=perfis.loc[:,'Ramo de Atividade'].map(a2p).map(dcat))

In [36]:
perfis[perfis.loc[:,'Ramo de Atividade'].isna()]

Empty DataFrame
Columns: [ID_INST_BI, CLIENTE/INSTALAÇÃO, CPF_CNPJ, Razao Social, Endereco Cadastro, Ramo de Atividade, cluster, cat]
Index: []

In [41]:
perfis[~perfis.loc[:,'cluster'].isin(horarios.loc[:,'nome'])]

Empty DataFrame
Columns: [ID_INST_BI, CLIENTE/INSTALAÇÃO, CPF_CNPJ, Razao Social, Endereco Cadastro, Ramo de Atividade, cluster, cat]
Index: []

In [42]:
perfis.to_csv('/home/ubuntu/data/data/maio_2019/perfis_v3.csv', sep=';')

### l______________________________________________________________________________________________________

In [49]:
len(set(a2p.values()))

39

In [50]:
len(set(dcat.values()))

7

In [51]:
set(dcat.values())

{0, 1, 2, 3, 4, 7, 9}

### l______________________________________________________________________________________________________